<h2>会員情報編集</h2>
  <%= form_with model:@customer, local:true do |f| %>
  <div>
    <%= f.label :氏名 %>
    <div>
      姓<%= f.text_field :last_name %>
      名<%= f.text_field :first_name %>
    </div>
  </div>

  <div>
    <%= f.label :フリガナ %>
      <div>
      姓<%= f.text_field :last_name_kana %>
      名<%= f.text_field :first_name_kana %>
      </div>
  </div>

  <div>
    <%= f.label :郵便番号 %>
    <%= f.text_field :postcode%>
  </div>

  <div>
    <%= f.label :住所 %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :電話番号 %>
    <%= f.text_field :phone_number %>
  </div>

  <div>
    <%= f.label :メールアドレス %>
    <%= f.email_field :email%>
  </div>

  <div>
    <%= f.submit "編集内容を保存" %>
  </div>
  <% end %>
  <div>
    <%= link_to "退会する" , withdraw_customer_path(@customer) %>
  </div>
  
  <diagram name="ログイン" id="fMXwyozo_eIwpZ0O5kyp">7VpbV+o6EP41edTVe9PHlqseb2ej2719cYU2QBdtg6UI+utPGhLoJSwQrXrWMjyQTCZNk/m+mUkA6K141UvRbHJJAhwBTQlWQG8DTVMty6JfueSFS6BmrCXjNAy4bCsYhK+YCxUuXYQBnpcUM0KiLJyVhT5JEuxnJRlKU7Isq41IVJ51hsa4Jhj4KKpL78Mgm3Cpajnbjj4OxxM+NdTsdUeMhDJfyXyCArIsiPQO0FspIdm6Fq9aOMp3T+zLKLkf9BdXj6POL9tJFoNf6oNysn5Y9y1DNktIcZId/Wh058dpcHn2Mvn39ko7Xwaq9cCHKM8oWvD94mvNXsQGLidhhgcz5OftJUUJ0L1JFke0pdJqShZJgPM5FNra7FHeiNAQRx7yp2Om1CIRSWlXQhKcq2YpmWIhBJqusLLpEdbKJxmFUVQZPiJJ1kVxGOXA/I3TACWIizkIVY23ZXOgKBwnVObTLcW00/NJHPp8ugP3m9vlGacZXhXQxve/h0mMs/SFqohe59Rcj+Fs2rSXBWgqFrfKpAhLwSfE+TDePH1rc1rhZn8DurQaBC6ue9ffHgZUc8TKQVjQ4HfDgqGUkCBsXgSCI8GB2RQM7P2eIAoLFiva5SNwcBzFje9mVq1sVtWQ2FVK8I/gNznRlqvnzt3fm/71Sus7D5fLltTFW1HGN65kYetpQUTHyZxtsUsVVGO22nbS2ph9d3QAdeC2WUUDnsIrrsG7PF3MRF98PRkfWkVWAUAlyARoPimCaZbrx6txnqucDmnkpVhEs9M0ZZmDl3JYmDK/ErAiw0URUBZty1xdxfV0WWkQR45VBpIER1CCIqMpFKmNocgEjgmgxSoUNiroGMCDgK6uA4FrAdf+QdGxKLK174Wieq7xUSiygGMxF8QwA7ugYwPHAR7tcgBsAU/7QdGxKILGl6Hoz7Plj6c3YRJY3tQ/ubOX/U4DEY2ePsV2boU0v2SZhARtWu6ePOa8vHbuttYBz3FF5GuJoAhZRQVuR+hAXoFiFFTKo6hy96DgSmeHFNxtMcrmFaq2VoYelzhdIVFZRckrfM+G6XZdRv4O+SqYL3ZVNoUKPKO6ije82IFLhmxSJecqf2co3lkrz04rYl2uK3RcLvGEDiU/X+nBzKd0yCrZLKaYQUOmwFLKRUbmnJ0F9kZ4lA/MGRX6KHK5OA6DIB/qzUiYZIwFpgfMtjzbLTsJLiyn040lrWaZ4Had4LopYbjeFMObyjbcIVlkP4HgWJxYypcFgumDfuMlt79v1F9n2er17uHkn/7P7dXX3l7Z6uH3V6ryASD4O7/qDXtPf87un6xbjby6oWHKQMAdv5IngTRo5HHMZrHFyvPDvMs8LI6J5+yPFFLvLTF8zXI7g4YMuWW47kAoBUqnnX8qV2BNRhDDqGBDhZIYIrvQ0prCxd4YIs35fFbqkWOO4hk1i6HgFaudUsYdGki2VlN32LUApEpO0ZzBlIrFZN5cNzcM/+i4L7WZ5HzIeaqWE0Zd5ICUsEIHOqJrk307DTB3X7K3n7dFL282mdZBpWJhibdWP5OT+v6A/T8hC6xv5WeTxdhFFkfd4p8zolulD/yhRsmeTt35fS41rJ3haj5DyTuuxsQx/8h7+2H1QVS2fqPPOzbVkqZa9q23odcSCc+unwgFsJTDjlOKYnuNHqfqbkU3tToMdVXiVMz3w7DnWd2bx/vsBb+2zi/my/PHayLJpgcYpf6kZub6MWe3tWv2K2OkhISY+NPF7HRE0nh+Omdze2Qls7nDCu2JUZjcMudVvVopIqAwXhMGhv4GHIUhFisV0Nh1P0dp4IfJ+IK12vqh+Tl3mp9xZIPVnyOVupvbuLR3Bi3a3P4XhvUV/lKkd/4D</diagram>
