<div class="container my-5">
	<div class="row">
		<div class="offset-sm-1">
      <h2 class="red-border px-3 pb-1">マイページ</h2>
    </div>
  </div>
  <div class="row my-3">
		<div class="offset-sm-4">
      <h2>登録情報</h2>
    </div>
  </div>
  <div class="row">
	  <div class="offset-sm-4 col-sm-4">
	    <table class="table table-bordered border-dark">
	      <tr class="brown-border">
          <td class="table-secondary">氏名</td>
	        <td>
		        <%= @customer.last_name %>
		        <%= @customer.first_name %>
		      </td>
        </tr>
        <tr class="brown-border">
	        <td class="table-secondary">フリガナ</td>
		     <td>
		       <%= @customer.last_name_kana %>
		       <%= @customer.first_name_kana %>
	       </td>
        </tr>
        <tr class="brown-border">
	        <td class="table-secondary">郵便番号</td>
		      <td><%= @customer.postcode %></td>
        </tr>
        <tr class="brown-border">
          <td class="table-secondary">住所</td>
	  	    <td><%= @customer.address %></td>
        </tr>
        <tr class="brown-border">
	        <td class="table-secondary">電話番号</td>
		      <td><%= @customer.phone_number %></td>
        </tr>
        <tr class="brown-border">
	        <td class="table-secondary">メールアドレス</td>
	        <td><%= @customer.email %></td>
        </tr>
      </table>
      <div>
        <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-outline-success" %>
      </div>
      <div class="row"><%= link_to "配送先一覧", addresses_path %></div>
      <div class="row"><%= link_to "注文履歴一覧", "" %></div>
    </div>
  </div>
</div>