<div class="container my-5">
  <h2>商品詳細</h2>
  <div class="row">
		<div class="col-md-3">
      <%= image_tag @product.product_image, size: "200x150" %>
    </div>
    <div class="col-md-9">
      <table class="table-box">
        <tr>
          <th>商品名</th>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @product.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @product.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格</th>
          <td><%= @product.add_tax.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <% if @product.is_active == true %>
            <td class="scolor1">販売中</td>
          <% else %>
            <td class="scolor2">販売停止中</td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-2 mt-2 d-flex justify-content-start">
        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
          <%= f.hidden_field :product_id, :value => @product.id %>
          <%= f.select :count, *[1..5] %>
          <%= f.submit "カートに追加", class: "btn btn-success mt-2" %>
        <% end %>
      </div>
    </div>
</div>