<h1>注文履歴詳細</h1>
<div>
  <table>
    <tr>
      <td>購入者</td>
      <td><%= link_to @order.customer.first_name + @order.customer.last_name, admin_customer_path(@order.customer) %></td>
    </tr>
    <tr>
      <td>注文日</td>
      <td><%= @order.created_at %></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td><%= @order.customer_postcode %><%= @order.customer_address %><br>
      <%= @order.customer.first_name + @order.customer.last_name %></td>
    </tr>
    <tr>
      <td>支払方法</td>
      <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <td>注文ステータス</td>
      <td>
        <%= form_with model: @order, url: admin_order_path(@order) do |f| %>
        <%= f.select :order_status, Order.order_statuses.keys %>
        <%= f.submit '更新' %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
　<div>
　  <table>
　    <thead>
　      <tr>
　        <td>商品名</td>
　        <td>単価（税込）</td>
　        <td>数量</td>
　        <td>小計</td>
　        <td>制作ステータス</td>
        </tr>
        <%= @order_details. each do |order_detail| %>
        <tr>
          <td><%= order_detail.product.name %></td>
          <td><%= order_detail.price.to_s(:delimited) %></td>
          <td><%= order_detail.count %></td>
          <td><%= order_detail.price * order_detail.count %></td>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail) do |f| %>
          <td><%=f.select :making_status, OrderDetail.making_statuses.keys %></td>
          <td><%=f.submit "更新" %></td>
          <% end %>
        </tr>
        <% end %>
　    </thead>
　  </table>
　</div>

　<div>
　  <table>
　    <tr>
　    <td>商品合計</td>
　    <td></td>
　    </tr>
　    <tr>
　    <td>送料</td>
　    </tr>
　    <tr>
　      <td>請求額</td>
　    </tr>
　  </table>
　</div>