<h1>注文履歴詳細</h1>
<div>
  <table>
    <tr>
      <td>購入者</td>
      <td><%= link_to @order.customer.last_name + @order.customer.first_name, admin_customer_path(@order.customer) %></td>
    </tr>
    <tr>
      <td>注文日</td>
      <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td><%= @order.customer_postcode %><%= @order.customer_address %><br>
      <%= @order.customer.last_name + @order.customer.first_name %></td>
    </tr>
    <tr>
      <td>支払方法</td>
      <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <td>注文ステータス</td>
      <td>
        <%= form_with model: @order, url: admin_order_path(@order) do |f| %>
        <%= f.select :order_status, Order.order_statuses.keys.map{ |k| [I18n.t("enums.order.order_status.#{k}"),k]} %>
        <%= f.submit '更新' %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
　<div>
　  <table>
　    <thead>
　      <tr>
　        <th>商品名</th>
　        <th>単価（税込）</th>
　        <th>数量</th>
　        <th>小計</th>
　        <th>制作ステータス</th>
        </tr>
        <%# 商品合計の変数定義 %>
        <% item_total_price = 0 %>
        <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.product.name %></td>
          <td><%= order_detail.product.add_tax.to_s(:delimited) %></td>
          <td><%= order_detail.count %></td>
          <td><%= order_detail.product.add_tax * order_detail.count %></td>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail) do |f| %>
          <td><%=f.select :making_status, OrderDetail.making_statuses.keys.map{ |k| [I18n.t("enums.order_detail.making_status.#{k}"),k]} %></td>
          <td><%=f.submit "更新" %></td>
          <% end %>
          <% item_total_price += order_detail.product.add_tax * order_detail.count %>
        </tr>
        <% end %>
　    </thead>
　  </table>
　</div>

　<div>
　  <table>
　    <tr>
　    <td>商品合計</td>
　    <td><%= item_total_price %>円</td>
　    </tr>
　    <tr>
　    <td>送料</td>
　    <td><%= @order.postage %>円</td>
　    </tr>
　    <tr>
　      <td>請求額</td>
　      <td><%= item_total_price + @order.postage %>円</td>
　    </tr>
　  </table>
　</div>