<div class="container my-5">
  <div class="row mt-4">
    <div class="col-6 m-auto">
      <h2>ジャンル一覧・追加</h2>
      <div>
        <%= form_with model: @genre, url: admin_genres_path do |f| %>
        <div>
          <%= f.label :name, "ジャンル名" %>
          <%= f.text_field :name %>
          <%= f.submit "新規登録", class: "btn btn-sm btn-success" %>
        </div>
        <% end %>
      </div>
      <div>
       <table class="table mt-3">
         <thead>
            <tr>
              <th>ジャンル名</th>
              <th></th>
            </tr>
          </thead>
            <tbody>
              <% @genres.each do |genre| %>
              <tr>
                <td><%= genre.name %></td>
                <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-outline-success" %></td>
              </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>