
<h2>ショッピングカート</h2>
 <div>
  <%= link_to "カートを空にする", cart_items_path, method: :delete, data: {confirm: "カートを空にしますか？"} %>
 </div>
    <table>
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th ></th>
          </tr>
      </thead>

      <% @cart_items.each do |cart_item| %>
        <tbody>
          <tr>
            <td><%= cart_item.product.name %></>
            <td><%= (cart_item.product.price * 1.1).floor %></td>
            <td>
             <%= form_with model: cart_item do |f| %>
              <div>
                <%= f.select :count, *[1..5] %>
                <%= f.submit "変更" %>
              </div>
             <% end %>
            </td>
            <td>
              <%= (cart_item.product.price * 1.1).floor * cart_item.count %>
            </td>
            <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete %></td>
          </tr>
        </tbody>
      <% end %>
        <td>
          <div>合計金額 <%= @total_price %>円</div>
          <div><%= link_to "買い物を続ける", products_customers_path %></div>
          <% if @cart_items != [] %>
           <div>
            <%= link_to "情報入力に進む", "" %>
          <% end %>
          </div>
        </td>
      </table>