<h1>商品編集</h1>

<div>
  <%= form_with model: @product, url: admin_product_path  do |f| %>
  <div>
    <%= f.label :image_id, "商品画像" %>
    <%# 商品画像 %>
  </div>

  <div>
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name, :placeholder => "商品名" %>
  </div>

  <div>
    <%= f.label :introduction, "商品説明" %>
    <%= f.text_area :introduction, :placeholder => "ここに説明文を記述します" %>
  </div>

  <div>
  </div>

  <div>
    <%= f.label :price, "税抜価格" %>
    <%= f.text_field :price, :placeholder => "1000" %><span>円</span>
  </div>

  <div>
    <%= f.label :is_active, "販売ステータス" %>
    <%# radio_button %>
  </div>


  <div>
    <%= f.submit "変更を保存" %>
  </div>
  <% end %>
</div>