<h1>商品新規登録</h1>
<div>
  <%= form_with model: @product, url: admin_products_path do |f| %>
  <div>
    <%= f.label :image_id, "商品画像" %>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name, :placeholder => "商品名"  %>
  </div>
  <div>
    <%= f.label :introduction, "商品説明" %>
    <%= f.text_area :introduction, :placeholder => "ここに説明文を記述します"  %>
  </div>
  <div>
    <%= f.label :genre_id, "ジャンル" %>
    <%= f.collection_select :genre_id, @genre, :id, :name, include_blank: "選択して下さい" %>
  </div>
  <div>
    <%= f.label :price, "税抜価格" %>
    <%= f.text_field :price, :placeholder => "1000" %><span>円</span>
  </div>

  <div>
    <%= f.label :is_active, "販売ステータス" %>
    <%= f.radio_button :is_active, :true %>
    <%= f.label :is_active, "販売中" %>
    <%= f.radio_button :is_active, :false%>
    <%= f.label :is_active, "販売停止中" %>
  </div>

  <div>
    <%= f.submit "新規登録" %>
  </div>
  <% end %>
</div>