<div class="container">
  <div class="row mt-4">
    <div class="col-3 m-auto">
      <h1>商品新規登録</h1>
        <%= form_with model: @product, url: admin_products_path do |f| %>
        <div>
          <%= f.label :image_id, "商品画像" %>
          <%= f.file_field :image, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :name, "商品名", class: 'form-label' %>
          <%= f.text_field :name, :placeholder => "商品名", class: 'form-control'  %>
        </div>
        <div>
          <%= f.label :introduction, "商品説明", class: 'form-label' %>
          <%= f.text_area :introduction, :placeholder => "ここに説明文を記述します", class: 'form-control'  %>
        </div>
        <div>
          <div><%= f.label :genre, "ジャンルを選択", class: 'form-label' %></div>
          <%= f.collection_select :genre_id, Genre.order(:name),:id,:name, include_blank: false, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :price, "税抜価格", class: 'form-label' %>
          <%= f.text_field :price, placeholder:"300", class: 'form-control' %>
        </div>
        <div>
          <%= f.label :is_active, "販売ステータス" %>
          <%= f.radio_button :is_active, :true, checked: true %>
          <%= f.label :is_active, "販売中" %>
          <%= f.radio_button :is_active, :false%>
          <%= f.label :is_active, "販売停止中" %>
        </div>
        <div>
          <%= f.submit "新規登録", class: 'btn btn-sm btn-success mt-3' %>
        </div>
        <% end %>
    </div>
  </div>
</div>