<div class="container">
  <div class="row mt-4 offset-1">
    <div class="col-6">

    <h2>注文入力</h2>
    <!--url追加-->
      <%= form_with model: @order, url: confirm_orders_path, method: :get, local: true do |f| %>
        <h4>支払い方法</h4>
        <div>
            <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
            <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
            </br>
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
        </div>

        <h4 class="mt-3">お届け先</h4>
        <!-- address_number と定義して1～3の番号を check に送る -->
        <!--登録時に入力された住所-->
        <div>
          <%= f.radio_button :address_id, 1, checked: true %>
          <%= f.label :address_id_1, "ご自身の住所" %></br>
          〒<%= current_customer.postcode + current_customer.address %></br>
          <%= current_customer.last_name %><%= current_customer.first_name %>
        </div>
        <!--配送先画面で新しく入力された住所-->
        <div class="mt-3">
          <%= f.radio_button :address_id, 2 %>
          <%= f.label :address_id_2, "登録済の住所" %>
          <%= f.select "addresses", options_from_collection_for_select(current_customer.addresses.all, "id", "customer_address") %>
        </div>

        <!--新しい住所を入力-->
      <div class="row d-flex justify-content-start mt-3">

        <!--Radioボタン-->
        <div class="col-11 mt-2">
          <%= f.radio_button :address_id, 3 %>
          <%= f.label :address_id_3, "新しいお届け先" %>
        </div>
        <!--郵便番号の列-->
        <div class="col-2 m-auto">
          <%= f.label "郵便番号" %>
        </div>
        <div class="col-4 mt-2">
          <%= f.text_field :customer_postcode, class: 'form-control' %>
        </div>
        <div class="col-6"></div>
        <!--住所の列-->
        <div class="col-2 m-auto">
          <%= f.label "住所" %>
        </div>
        <div class="col-6 mt-2">
          <%= f.text_field :customer_address, class: 'form-control' %>
        </div>
        <div class="col-4"></div>
        <!--宛名の列-->
        <div class="col-2 m-auto">
          <%= f.label "宛名" %>
        </div>
        <div class="col-4 mt-2">
          <%= f.text_field :customer_name, class: 'form-control' %>
        </div>
        <div class="col-6"></div>
        <!--確認ボタン-->
        <div class="col-2"></div>
          <div class="col-4 mt-3">
            <div class="d-flex bd-highlight mb-3">
              <div class="bd-highlight"><%= f.submit "確認画面へ進む", class: 'btn btn-primary' %></div>
            </div>
          </div>
      </div>
      <% end %>

    </div>
  </div>
</div>