<div class="container">
  <footer class="pb-3 my-4 nav-bg">
    <div class="footer-bg pt-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><%= link_to "ながのCAKE", root_path, class: 'nav-link px-2 text-white nav-item' %></li>
      <li class="nav-item"><%= link_to "About", about_path, class: 'nav-link px-2 text-white' %></li>
      <li class="nav-item my-2">
        <%= link_to "#", class: 'text-decoration-none insta' do %>
        <i class="fa-brands fa-instagram fa-lg px-2"></i>
        <% end %>
        <%= link_to "#", class: 'text-decoration-none' do %>
        <i class="twitter fa-brands fa-twitter fa-lg px-2"></i>
        <% end %>
        <%= link_to "#", class: 'text-decoration-none fb-square' do %>
        <i class="fa-brands fa-facebook-square fa-lg px-2"></i>
        <% end %>
      </li>
    </ul>
    </div>
    <div class="nav-bg">
      <p class="text-center text-white">© 2022 World Cup</p>
    </div>
  </footer>
</div>